<!DOCTYPE html>
<html>
	<head>
		<title>Highrock Brookline Rideshare</title>
		<link rel="stylesheet" href="/css/home.css" type="text/css" />
	</head>
	<body>
		<h1>OK.  Enter your address (include your zip code) and we'll see who's nearby.</h1>
		<textarea id="address" cols="50" rows="3">345 Harvard St
Brookline, MA 02446</textarea>
		<input type="button" id="submit" value="Submit" />
		<div id="error" class="error"></div>
		<div id="map-canvas" style="width: 800px; height: 480px;"></div>
	</body>
	
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBq9H7LusdmzSwLwDKTkyC-luWxI-C2nU&v=3.exp&sensor=false"></script>
	<script type="text/javascript" src="/js/driversearch.js"></script>
	<script type="text/javascript" src="/js/addresscheck.js"></script>
</html>
	